@import url(../../global/default.css);

header {
    background-color: rgb(156,191,27);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 20px;
}

header .logo img {
    height: 55px;
}


header nav {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo (ul) à direita */
}

header nav ul {
    list-style: none;
    display: flex; /* Certifique-se de que `flex` está corretamente aplicado aqui */
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 35px; /* Espaçamento entre os itens do menu */
}

header nav ul li a {
    color: #0f0e0e;
    text-decoration: none;
    font-size: 16px;
}

main {
    text-align: center;
    padding: 20px;
}

h1 {
    color: rgb(59,12,4);
    margin-bottom: 20px;
    padding: 50px;
    margin-top: 50px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10%;
}

.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #7ac144;
    color: #FFFAFA;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.filter {
    display: flex;
    align-items: center;
    
}

.filter label {
    margin-right: 10px;
}

.filter select {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.filter button {
    padding: 10px 20px; 
    margin: 10 15px; 
    border: 1px solid #ccc; 
    background-color: #f4f4f4; 
    cursor: pointer; 
    border-radius: 15px;
    margin-right: 20px;
}

.filter button:hover {
    background-color:  #7ac144;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.news-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    width: 60%;
    margin-bottom: 10px;
    overflow: hidden;
    
}

.news-item img {
    width: 20%; 
    height: auto;
    object-fit: cover; 
    float: left; 
    margin-left: 20px; 
}

.news-content {
    padding: 20px;
    text-align: left;
    flex: 1;
}

.news-content p {
    margin: 0 0 10px;
    text-align:left;
}

.news-content a {
    background-color: #7ac144;
    color: #FFFAFA;
    padding: 8px 15px;
    text-decoration: none;
}

.pagination {
    margin: 20px 0;
}

.pagination a {
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 20px;
}

.pagination a.active {
    background-color: #7ac144;
    color: #FFFAFA;
}


