@import url(reset.css);

:root {
    --color-darkbg: #31333b;
    --color-lightbg: #34353a;
    --color-lightred: #ff6b6b;
    --color-white: #f9f9f9;
    /* colocar cores padrão */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

/* ESSA BOSTA DE PAGINA VAI FICAR EM TODOS OS HTML */
/* PORTANTOOOO IMPORTEM ELA PARA CADA CSS DA PAGINA QUE ESTIVEM DESENVOLVENDO */
/* VAMOS EVITAR MUITOS LINKS NO HEAD DO HTML */