footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
    background-color: var(--color-yellow);
}

.foot-img {
    margin: auto;
    padding-top: 50px;
}

.foot-img img {
    width: 128px;
    cursor: pointer;
}

.foot-text {
    width: 95%;
    border-top: 2px solid var(--color-brown);
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-top: 50px;
}

.text-social svg {
    color: #fff !important;
    height: 28px;
    width: 28px;
}

.icon {
    display: inline-block;
    background-color: var(--color-brown);
    border-radius: 50%;
    padding: 12px;
    height: 28px;
    width: 28px;
    cursor: pointer;
}