@import url(../../global/default.css);

/*header*/

header {
    background-color: var(--color-yellow);
    color: var(--color-brown);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.hoje {
    color: var(--color-brown);
    font-weight: 500;
    font-size: 18px;
    background-color: var(--color-yellow);
    padding: 15px 25px;
    border-radius: 5px;
}

.arrows {
    display: flex;
    gap: 14px;
}

.arrows svg {
    background-color: var(--color-yellow);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.logo-img-brown {
    display: block;
}

.logo-img-white {
    display: none;
}

.calendar-section {
    background-color: #FFF;
    color: var(--color-brown);
    text-align: center;
}

.calendar table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    border: 1px solid #ddd;
    padding: 50px;
    text-align: center;
}

.calendar .event {
    background-color: var(--color-yellow);
    padding: 5px 10px;
    border-radius: 50%;
}

.events-section {
    padding: 20px;
    text-align: center;
    color: var(--color-brown);
}

.events-section h2 {
    color: var(--color-brown);
    margin-top: 100px;
}

.event-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
}

.event-card img {
    width: 100%;
    height: 100%;
}

.event-card-padding {
    padding-bottom: 10px;
}

.event-card-padding img{
    padding: 5px 0;
    border-radius: 15px;
}

.line-separator  { 
    border-top: 3px solid var(--color-yellow);
    height: 2px;
    width: 100%; 
    margin-top: 15px;
} 

@media (max-width: 950px) {
    .calendar th,
    .calendar td {
        padding: 30px;
    }

    .event-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .arrows {
        gap: 0px;
    }

    .arrows svg {
        width: 10px;
        padding: 5px 8px;
    }

    .calendar {
        width: auto;
    }

    .calendar th,
    .calendar td {
        padding: 18px 7px;
    }

    .event-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

.event-card {
    position: relative;
}

.card-event {
    height: 100%;
    opacity: 0;
    position: absolute;
    border-radius: 15px;
}

.card-event:hover {
    opacity: 1;
    transition: ease-in-out 0.5s;
    background-color: var(--color-white);
    color: var(--color-brown);
    box-shadow: 0px 0px 5px #2b2b2b70;
}

.card-event2 {
    background-color: var(--color-yellow);
    width: 80px;
    height: 100%;
    float: right;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
}

.card-event2:hover {
    opacity: 1;
}

.card-event3 {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
    padding-left: 25px;
    padding-right: 10px;
}

.card-event3 > h3 {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: var(--color-brown);
    border-bottom: 2px solid var(--color-yellow);
    padding-bottom: 15px;
}

.card-event3 > div {
    display: flex;
}

.card-event3 > div p {
    width: 100%;
    padding-top: 3px;
    line-height: 1.2rem;
}

.card-event3 > div p span {
    font-weight: bold;
}

svg{
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

@media (max-width: 460px) {

    .card-event2 {
        width: 100%;
        height: 35px;
        clear: both;
        position: absolute;
        bottom: 0;
        font-size: 15px;
        border-radius: 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .card-event3 > div p {
        padding-top: 10px;
    }

    .card-event3 > h3 {
        font-size: 12px;
        padding-bottom: 10px;
    }

   .card-event3 {
        padding: 10px;
        font-size: 10px;
    }

    svg{
        margin-top: 10px;
        margin-right: 5px;
    }

    .card-event3 > div:last-child {
        padding-bottom: 50px;
    }
}




