@import url(../../global/default.css);

/*header*/

header {
    background-color: var(--color-yellow);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.hoje {
    background-color: var(--color-yellow);
    padding: 15px 25px;
    border-radius: 5px;
}

.arrows {
    display: flex;
    gap: 14px;
}

.arrows svg {
    background-color: var(--color-yellow);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}



.logo-img-brown {
    display: block;
}

.logo-img-white {
    display: none;
}
.calendar-section {
    background-color: #FFF;
    color: var(--color-brown);
    text-align: center;
}

.calendar table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    border: 1px solid #ddd;
    padding: 50px;
    text-align: center;
}

.calendar .event {
    background-color: var(--color-yellow);
    padding: 5px 10px;
    border-radius: 50%;
}

.events-section {
    padding: 20px;
    text-align: center;
    color: var(--color-brown);
}

.events-section h2 {
    margin-top: 100px;
}

.event-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
}

.event-card img {
    width: 100%;
    border-radius: 5px;
}

.line-separator  { 
    border-top: 3px solid var(--color-yellow);
    height: 2px;
    width: 100%; 
    margin-top: 15px;
}