@media only screen and (max-width: 768px) {
    /* noticias */
    .noticias-container {
        flex-direction: column;
        gap: 10px;
    }

    .noticia-recente, .noticias-diversas {
        width: 100%;
    }

    /* eventos */
    .eventos-container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .evento-recente, .eventos-diversos {
        width: 100%;
        gap: 20px;
    }

    /* posts */
    .posts-conteudo {
        flex-direction: column;
        gap: 30px;
    }

    .post {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .img-post {
        width: 45%;
    }

    .img-post img {
        height: auto;
        width: 100%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .text-post {
        padding: 0px;
        border-radius: 0;
        border: 2px solid var(--color-brown);
        border-left: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 20px;
    }

    .info-text-post {
        margin: 20px 0;
    }

    /* sobre */
    .texto-sobre {
        width: 80%;
    }

    /* faq */
    .texto-faq {
        width: 45%;
    }

    .perguntas-faq {
        width: 50%;
    }
}