@import url(../../global/default.css);

/*header*/

header {
    color: var(--color-white);
    background-color: var(--color-red);
}

/*default*/

main {
    padding-top: 200px;
}

section {
    width: 80%;
    margin: auto;
}

h1, h2 {
    font-weight: 700;
    letter-spacing: 4px;
    padding-bottom: 50px;
}

h1, h2, h3, p {
    color: var(--color-brown);
    line-height: 1.8rem;
}

h1::before, h2::before {
    content: "";
    width: 170px;
    height: 4px;
    background-color: var(--color-red);
    position: absolute;
    transform: translateY(32px);
    margin-left: 0;
}

h1::before {
    transform: translateY(40px);
}

/*sobre*/

.container-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-about {
    width: 50%;
}

.text-about p {
    width: 90%;
}

.img-about {
    width: 50%;
}
    
.img-about img {
    width: 100%;
    border-radius: 8px;
}

/*missao*/

.missao-about {
    padding: 50px 30px;
    margin: 70px auto;
    background-color: var(--color-yellow);
    border-radius: 8px;
}

.missao-about b {
    font-size: 1.5rem;
    line-height: 2rem;
    display: block;
    text-align: center;
}

/*compromissos*/

.container-compromissos {
    margin-bottom: 50px;
}

.itens-compromissos ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: auto;
}

.itens-compromissos ul li {
    background: url(../../../media/pages/sobre/topic-logo.png) no-repeat center left;
    padding-left: 72px;
    margin: 50px 0;
}

.itens-compromissos ul li::marker{
    margin-top: auto;
}

.itens-compromissos ul li h3 {
    font-weight: 600;
}

/*lab etno*/

.container-lab {
    width: 100%;
}

.container-lab h2 {
    margin-left: 10%;
}

.conteudo-lab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px 0 200px;
}

.img-lab {
    position: absolute;
}

.img-lab img{
    width: 60%;
    margin-left: 50%;
    border-radius: 4px;
}

.text-lab {
    background-color: var(--color-red);
    padding: 40px 10%;
    padding-left: 35%;
}

.text-lab p {
    color: var(--color-white);
}