@import url(../../global/default.css);

/* header */

header {
    color: var(--color-brown);
    background-color: var(--color-lightorange);
}

/* main */
main.main-content {
    padding-top: 200px;
}